* {
  box-sizing: border-box;
}

:root {
  --header-color: #000958;
  --desc-color: #656689;
  --transition: 0.25s;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #fffaf5;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Sora", sans-serif;
}

button,
input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

/* common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 56px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgb(0, 9, 88, 0.7);
  border-radius: 99px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #000958;
  transition: var(--transition);
}

.btn:hover {
  background: var(--header-color);
  color: #fffaf5;
  border: var(--header-color);
}

/* header  */

.header {
  padding: 26px 0 8px 0;
  z-index: 1;
}

.fexid {
  position: sticky;
  top: -18px;
}

.header__inner {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-sign__gintip,
.header-nav__navbar--link {
  padding: 8px 18px;
  margin: 0 2px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: #5e6085;
  transition: var(--transition);
}

.header-sign__gintip:hover,
.header-nav__navbar--link:hover {
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
  text-decoration: underline;
}

.header-sign__gintup {
  --height: 50px;
  min-width: 117px;
}
